<header class="main-header">
    <a href="/" id="home-link"><h1>Quest of Life</h1></a>

    <% if (typeof user !== "undefined" && user) { %>
        <div>
            <span id="player-level-display">Level <%= playerLevel %></span> | 
            <span id="player-xp-display">XP: <%= playerXp %>/<%= (playerLevel + 1) * 100 %></span>
        </div>
    <% } %>

    <nav>
        Logged in as: <b><%= user.username %></b>
        <button id="logout-btn">Logout</button>
    </nav>
</header>
